body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.header-background {
  top: 0;
  width: 100%;
  height: 33em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55px;
  margin: 16px 0;
}

.social-media {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55px;
  gap: 1.8em;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: -15px;
  width: 20.8em;
  height: 42em;
  background-color: rgb(0 0 0 / 90%);
}

.nav-item {
  width: 8em;
  height: 2em;
  margin: 5px;
}

.nav-item-1 {
  margin-top: 30px;
}

.nav-link {
  color: rgb(255 255 255 / 90%);
  text-decoration: none;
  font-size: 1.2em;
}

.close-btn {
  position: absolute;
  top: 1.6em;
  left: 20em;
}

.logo {
  order: 1;
  margin-left: 4.5em;
}

.burger-menu {
  margin: 16px;
}

.header-text {
  background: url("../img/mobile_intro_bg.png");
  height: 30em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  width: 304px;
  height: 103px;
  color: rgb(251 128 39);
}

.title span {
  color: rgb(251 128 39 / 70%);
}

.primary-text {
  line-height: 150%;
  font-size: 16px;
  height: auto;
  text-align: justify;
  width: 80%;
}

.meeting-date-place {
  padding: 10px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: rgb(0 0 0 / 60%);
}

.place {
  margin: 4px;
}

.main-program {
  width: 100%;
  height: 44em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url("../img/pattern_bg.png");
  background-color: #272a32;
}

.main-program-title {
  color: #fff;
}

.separator {
  width: 53px;
  height: 1em;
  border-top: 1px solid rgb(251 128 39 / 100%);
  padding: 0 0 0.5em;
}

.program-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.program-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 4.6em;
  padding: 3px 16px;
  background: rgb(255 255 255 / 10%);
  margin: 0.6em 0;
}

.program-list-item h3 {
  display: flex;
  align-items: center;
  color: rgb(251 128 39 / 100%);
  width: 5em;
  height: 3.2em;
}

.program-list-item-img {
  display: flex;
  justify-content: center;
  width: 4em;
  height: 3.5em;
  padding: 0.2em;
  margin: 0.4em;
}

.program-list-item-img img {
  width: 64px;
  height: 56px;
}

.program-list-item p {
  width: 13em;
  height: 4em;
  color: #fff;
  font-size: 0.9em;
}

.program-btn {
  width: 80%;
  height: 4.3em;
  background-color: rgb(251 128 39 / 100%);
  color: #fff;
  font-size: 1em;
  margin-top: 0.9em;
  transition: all ease-in-out 0.5s;
}

.see-program {
  display: none;
}

.program-btn:hover {
  background-color: rgb(251 128 39 / 50%);
}

.featured-speakers.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 34.8em;
}

.featured-speakers.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60em;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 33.4em;
}

.featured-speakers-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 6em;
}

.featured-speakers-list.active {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 68em;
  padding: 0;
  margin: 0;
}

.featured-speakers-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 33em;
  padding: 0;
  margin: 0;
}

.featured-speakers-list-item {
  display: flex;
  flex-direction: row;
  margin: 13px 0;
}

.featured-speakers-list-item-pc{
  display: none;
}

.featured-speakers-list-item-img img {
  width: 8.5em;
  height: 9em;
}

.featured-speaker-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.8em;
}

.featured-speaker-name {
  font-size: 1.3em;
  margin: 0;
}

.featured-speaker-description {
  color: rgb(251 128 39 / 100%);
  font-size: 0.9em;
  font-style: italic;
  margin: 4px 0 0;
}

.speaker-separator {
  width: 1.3em;
  height: 0.1em;
  margin: 9px 0;
  border-top: 1px solid rgb(0 0 0 / 40%);
}

.speaker-studies {
  font-size: 0.8em;
  margin: 0;
  color: rgb(0 0 0 / 80%);
}

.show-more-speakers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 5em;
  border: 1px solid rgb(0 0 0 / 60%);
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 25px;
  transition: all ease-in-out 0.5s;
  order: 6;
}

.show-more-speakers:hover {
  background-color: rgb(0 0 0 / 40%);
}

.show-more-speakers span {
  font-size: 1.2em;
}

.show-more-speakers img {
  width: 22px;
  height: 22px;
  margin: 4px;
}

.footer {
  display: none;
}
